body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }
    .contactplace{
      padding: 10px;
      margin:40px;
    }

    section {
      padding: 35px;
      background: white;
      margin: 20px;
      border-radius: 5px;
    }

     .header{
       background-color: black;
       text-align: center;
     } 
    .title {
       font-weight: 50px;
       color: white;
       margin: 20px;
     }
    nav {
      background-color: gray;
      padding: 10px;
      text-align: center;
     }

    nav a {
      text-decoration: none;
      color: white;
      margin: 0 15px;
      font-weight: bold;
     }

    nav a:hover {
     color: yellow;
      }
    footer {
      background-color: gray;
      color: white;
      text-align: center;
      padding: 30px;
      margin: 0;
      margin-top: 40px;
      border-top: 4px solid gray;
      border-radius:20px;
      }
